@mixin center-children {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin remove-btn-default {
  background: none;
  border: none;
  outline: none;
  padding: 0;
}

.dark-text {
  color: #454545;
}

.white-text {
  color: white;
}
