@import "shared";

:root {
  --card-padding: 50px;
}

@mixin card-face {
  padding: var(--card-padding);
  backface-visibility: hidden;
  border-radius: 40px;
  box-shadow: 0px 2px 25px 0px rgba(0,0,0,0.35);
  background: white;
}

#card-container {
  color: #454545;
  width: 450px;
  perspective: 1000;

  button {
    cursor: pointer;
  }
}

.card {
  transition: 500ms all;
  transform-style: preserve-3d;
}

.card-front {
  @include card-face;
  z-index: 2;
  position: relative;
  transform: rotateY(0deg);
}

.card-back {
  @include card-face;
  z-index: 1;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  transform: rotateY(180deg);

    .done-btn {
      outline: none;
      font-size: 18px;
      position: absolute;
      color: #108af5;
      border: none;
      background: none;
      right: var(--card-padding);

      &:active {
        color: #7bc1ff;
      }
    }
}

.card-colors {
  display: grid;
  grid-template-columns: 5fr 1fr 5fr;
}

.flip-container {
  @include center-children;
  font-size: 30px;
  perspective: initial;
}

.flip-btn {
  @include remove-btn-default;
  cursor: pointer;
  transform: rotateY(0);
  transition: all 300ms;
  transform-style: preserve-3d;

  &:active { color: inherit; }
}

.flipped {
  transform: rotateY(180deg);
}
