@import "shared";

#card-container {
  color: #454545;
  background-color: white;
  width: 450px;
  border-radius: 40px;
  box-shadow: 0px 2px 25px 0px rgba(0,0,0,0.35);
  padding: 50px;
  transition: 300ms all;
}

#card-container.card-flipped {
  transform: rotateY(180deg);
}

.card-colors {
  display: grid;
  grid-template-columns: 5fr 1fr 5fr;
}

.flip-container {
  @include center-children;
  font-size: 30px;
}

.flip-btn {
  @include remove-btn-default;
  cursor: pointer;
  transform: rotateY(0);
  transition: all 300ms;

  &:active { color: inherit; }
}

.flipped {
  transform: rotateY(180deg);
}
