@import "shared";

#card-container {
  color: #454545;
  background-color: white;
  width: 450px;
  border-radius: 40px;
  box-shadow: 0px 2px 25px 0px rgba(0,0,0,0.35);
  padding: 50px;
}

.card-circle {
  --size: 280px;
  height: var(--size);
  width: var(--size);
  border-radius: 100%;
  margin: 0 auto 40px auto;
}

.card-colors {
  display: grid;
  grid-template-columns: 5fr 1fr 5fr;
}

.flip-container {
  @include center-children;
  font-size: 30px;
}
